body {
    background-color: #181818;
    color: #FF5E7E;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #FF5E7E;
    border-radius: 40px;
    padding: 40px;
}

input {
    padding: 10px;
    width: 500px;
    text-align: center;
    background-color: #e0f7fa;
    border-radius: 20px;
    border: none;
}

select {
    padding: 10px;
    width: 500px;
    text-align: center;
    text-align-last: center;
    background-color: #e0f7fa;
    border-radius: 20px;
    border: none;
}

form .a {
    cursor: pointer;
}

::placeholder {
    color: #FF5E7E;
}