<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMERGENCY CALLS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="z">CALL THE NUMBER</h1>
    <div class="YO">
        <div class="a">
            <h1>POLICE</h1>
            <h2>type police</h2>
        </div>
        <div class="a">
            <h1>FIRE EMERGENCY</h1>
            <h2>type fire</h2>
        </div>
        <div class="a">
            <h1>AMBULANCE</h1>
            <h2>type ambulance</h2>
        </div>
        <div class="a">
            <h1>GENERAL HELP</h1>
            <h2>type general</h2>
        </div>
        <div class="a">
            <h1>WOMEN HELPLINE</h1>
            <h2>type women</h2>
        </div>
        <div class="a">
            <h1>DOG HELPLINE</h1>
            <h2>type dog</h2>
        </div>
    </div>
        <form action="#" method="post" class="FORM" >
        <input type="text" placeholder="Type of emergency" name="nm" class="text">
        <input type="submit" class="submit">
    </form>
    
</body>
</html>