body{
    display: flex;
    background-color: #001a00;
    font-family: "Comic Sans MS";
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: greenyellow;
}

.container{
    display: flex;
    gap: 40px;
    flex-direction: column;
    border: 3px solid greenyellow;
    box-shadow: 8px 8px 0px greenyellow;
    margin-top: 40px;
}

.container h1{
    padding: 30px;
}

